<h1>Incident</h1>
<form [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
	<!--<div class="form-row">
		<div class="form-group col">
			<label>Title</label>
			<select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
          <option value=""></option>
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Miss">Miss</option>
          <option value="Ms">Ms</option>
      </select>
			<div *ngIf="submitted && f.title.errors" class="invalid-feedback">
				<div *ngIf="f.title.errors.required">Title is required</div>
			</div>
		</div>
		<div class="form-group col-5">
			<label>First Name</label>
			<input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
			<div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
				<div *ngIf="f.firstName.errors.required">First Name is required</div>
			</div>
		</div>
		<div class="form-group col-5">
			<label>Last Name</label>
			<input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
			<div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
				<div *ngIf="f.lastName.errors.required">Last Name is required</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label>Email</label>
		<input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
		<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
			<div *ngIf="f.email.errors.required">Email is required</div>
			<div *ngIf="f.email.errors.email">Email must be a valid email address</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label>Password</label>
			<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
			<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
				<div *ngIf="f.password.errors.required">Password is required</div>
				<div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
			</div>
		</div>
		<div class="form-group col">
			<label>Confirm Password</label>
			<input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
			<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
				<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
				<div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
			</div>
		</div>
	</div>
	<div class="form-group form-check">
		<input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
		<label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
		<div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
	</div>-->

	<div class="form-row">
		<div class="form-group col">
			<label for="incidentDescription">Incident Description*</label>
      <textarea class="form-control" id="incidentDescription" name="incidentDescription" rows="3" placeholder="Please describe the incident..." required formControlName="incidentDescription" [ngClass]="{ 'is-invalid': submitted && f.incidentDescription.errors }"></textarea>
			<div *ngIf="submitted && f.incidentDescription.errors" class="invalid-feedback">
				<div *ngIf="f.incidentDescription.errors.required">Incident description is required.</div>
				<div *ngIf="f.incidentDescription.errors.minlength">Incident description must be at least 6 characters.</div>
			</div>
		</div>
		<div class="form-group col">
			<label for="incidentLocation">Incident Location</label>
			<input type="text" placeholder="Where did this incident occur?" class="form-control" id="incidentLocation" name="incidentLocation" required formControlName="incidentLocation" [ngClass]="{ 'is-invalid': submitted && f.incidentLocation.errors }">
      <div *ngIf="submitted && f.incidentLocation.errors" class="invalid-feedback">
				<div *ngIf="f.incidentLocation.errors.required">Incident location is required.</div>
				<div *ngIf="f.incidentLocation.errors.minlength">Incident location must be at least 6 characters.</div>
			</div>
		</div>
		<div class="form-group col">
				<label for="peopleInvolved">People Involved</label>
				<input type="text" placeholder="Who is involved in this incident?" class="form-control" id="peopleInvolved" name="peopleInvolved" required formControlName="peopleInvolved" [ngClass]="{ 'is-invalid': submitted && f.peopleInvolved.errors }">
        <div *ngIf="submitted && f.peopleInvolved.errors" class="invalid-feedback">
				  <div *ngIf="f.peopleInvolved.errors.required">People involved is required.</div>
				  <div *ngIf="f.peopleInvolved.errors.minlength">People involved must be at least 6 characters.</div>
			  </div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="peopleAware">People Aware</label>
			<input type="text" placeholder="Who is currently aware?" class="form-control" id="peopleAware" name="peopleAware" formControlName="peopleAware" [ngClass]="{ 'is-invalid': submitted && f.peopleAware.errors }">
		</div>
		<div class="form-group col">
			<label for="incidentOccurenceDateTime">When did this incidient occur?</label>
			<input type="datetime-local" formControlName="incidentOccurenceDateTime" class="form-control" id="incidentOccurenceDateTime" name="incidentOccurenceDateTime" [ngClass]="{ 'is-invalid': submitted && f.incidentOccurenceDateTime.errors }">
		</div>
		<div class="form-group col">
			<label for="incidentIdentifiedDateTime">When was this incident identified?</label>
			<input type="datetime-local" formControlName="incidentIdentifiedDateTime" class="form-control" id="incidentIdentifiedDateTime" name="incidentIdentifiedDateTime" [ngClass]="{ 'is-invalid': submitted && f.incidentIdentifiedDateTime.errors }">
		</div>
	</div>
	<div class="form-row">
    <div class="form-group col">
      <label for="additionalInformation">Additional Information</label>
      <textarea class="form-control" id="additionalInformation" name="additionalInformation" rows="3" placeholder="Any Additional Information? (Optional)" required formControlName="additionalInformation" [ngClass]="{ 'is-invalid': submitted && f.additionalInformation.errors }"></textarea>
    </div>
    <div class="form-group col">
      <label for="ivantiReferenceNumber">Ivanti Reference Number (If Applicable)</label>
      <input type="text" placeholder="Ivanti Reference Number (Optional)" formControlName="ivantiReferenceNumber" class="form-control" id="ivantiReferenceNumber" name="ivantiReferenceNumber" [ngClass]="{ 'is-invalid': submitted && f.ivantiReferenceNumber.errors }">
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary mr-1">Submit</button>
    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
  </div>
</form>